* {
    padding: 0;
    margin: 0;
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-edit {
    background-color: rgb(226, 162, 44);
    color: #FFF;
}

.btn-edit:hover {
    background-color: rgb(190, 124, 0);
    color: #FFF;
}

.btn-save {
    background-color: rgb(52, 129, 52);
    color: #FFF;
    margin: 10px auto;
}
.btn-save:hover{
    background-color:  rgb(32, 80, 32);
    color:#FFF ;
}

.group-pos {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.title-img {
    width: 50%;
    height: 400px;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}
#upload-img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}
#gallery-cover {
    width: 90%;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    /* grid-template-columns: auto auto; */
    margin: 5px auto;
    /* border: 2px solid #ccc; */
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
}
.box-edit-img-cover {
    /* background-color: #FFFFFF; */
    width: 85%;
    height: 230px;
    padding: 5px;
    margin: 10px auto;
    /* border: 2px solid #ccc; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-support{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ff4122;
}
.reset {
    background-color: #ff4122;
    color: #FFFFFF;
    height: 35px;
    margin: 5px;
}

@media (max-width: 768px) {}

@media (min-width: 1200px) {
    * {
        padding: 0;
        margin: 0;
    }

}